.top{
    background-color: #FFFBF0;
}
h1{
    font-size: 5em;
    font-weight: 700;
}
.name-highlight{
    color: #FABE4C;
}
.container{
    /* border: 1px solid blue; */
    max-width: 100%;
    
}
.my-container{
    max-width: 100%;
    margin: 0 auto;
    padding-left: 10em;
    padding-right: 25em;
}
.nav-container{
    max-width: 100%;
    margin: 0 auto;
    padding-left: 7em;
}
.my-button{
    background-color: #8DA724;
    font-size: 20px;
    padding: 20px;
    color: white;
}